# SPDX-License-Identifier: Apache-2.0

hiero:
  mirror:
    monitor:
      publish:
        scenarios:
          pinger:
            properties:
              topicId: ${topic.ping}
            receiptPercent: 1.0
            tps: 0.1
            type: CONSENSUS_SUBMIT_MESSAGE
      subscribe:
        grpc:
          hcs:
            topicId: ${topic.ping}
        rest:
          transactionId:
            publishers: ["pinger"]
            samplePercent: 1.0
logging:
  level:
    root: warn
    #org.springframework.web.reactive.function.client: trace
    com.hedera.hashgraph.sdk.Executable: error
    com.hedera.hashgraph.sdk.TransactionReceiptQuery: error
    org.hiero.mirror.monitor: info
  pattern:
    console: "%clr(%date{${LOG_DATEFORMAT_PATTERN:yyyy-MM-dd'T'HH:mm:ss.SSS}, UTC}Z){faint} %clr(${LOG_LEVEL_PATTERN:%5level}) %clr(%thread){magenta} %clr(%logger{20}){cyan} %m %exception%n"
management:
  endpoint:
    health:
      group:
        cluster:
          include: subscriber, importerLag
        liveness:
          include: ping
        readiness:
          include: ping
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  metrics:
    tags:
      application: ${spring.application.name}
      environment: ${hiero.mirror.monitor.network}
  prometheus:
    metrics:
      export:
        step: 60s
server:
  compression:
    enabled: true
  http2:
    enabled: true
  netty:
    connection-timeout: 3s
  port: 8082
  shutdown: graceful
spring:
  application:
    name: monitor
  lifecycle:
    timeout-per-shutdown-phase: 20s
  task:
    scheduling:
      pool:
        size: 4
---
management:
  endpoint:
    health:
      group:
        cluster:
          include: release, subscriber, importerLag
spring:
  config:
    activate:
      on-profile: kubernetes
