# SPDX-License-Identifier: Apache-2.0

name: GitHub Pages Sync
on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"

defaults:
  run:
    shell: bash

env:
  LC_ALL: C.UTF-8

permissions:
  contents: write

jobs:
  sync:
    name: Sync Pages
    runs-on: hiero-mirror-node-linux-medium

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: "hashgraph/hedera-mirror-node"
          ref: gh-pages
          fetch-depth: "0"
          token: ${{ secrets.GH_ACCESS_TOKEN_HG }}

      - name: Add Remote
        run: git remote add HIERO https://github.com/hiero-ledger/hiero-mirror-node.git

      - name: Get the latest from HIERO
        run: git fetch HIERO

      - name: Sync gh-pages locally
        run: git rebase --merge HIERO/gh-pages

      - name: Push updates
        run: git push --force --set-upstream origin gh-pages
